@import "base/colors";
@import "base/typo";

@import "components/buttons";

@import "layout/footer";
@import "layout/navbar";

@import "pages/landing";

body {
  margin: 0;
  padding: 0;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: max-content;
  text-align: left !important;
}

h1 {
  font-family: "sfprotextbold";
  font-size: 32pt;
  color: $primary-color;
  text-align: center;
}

a {
  text-decoration: none;
}

p {
  font-family: "sfprotext";
  color: $primary-color;
}
