@font-face {
  font-family: "sfprotext";
  src: url("../fonts/SF-Pro-Text-Regular.otf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "sfprotextlight";
  src: url("../fonts/SF-Pro-Text-Light.otf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "sfprotextbold";
  src: url("../fonts/SF-Pro-Text-Semibold.otf");
  font-weight: normal;
  font-style: normal;
}
